@charset "UTF-8";
.toolbar_section {
  height: 56px;
  background: #0097A7;
}
.toolbar_section .toolbar_title {
  line-height: 56px;
  font-size: 24px;
  margin-left: 24px;
  color: #FFF;
}
.toolbar_section .toolbar_title2 {
  line-height: 56px;
  font-size: 16px;
  margin-left: 24px;
  color: #FFF;
}
.toolbar_section .toolbar_right {
  float: right;
  height: 56px;
  margin-right: 24px;
  font-size: 16px;
}
.toolbar_section .toolbar_text {
  margin-left: 12px;
  color: #FFF;
  line-height: 56px;
}

.login_form {
  width: 360px;
  margin: auto;
}
.login_form .login_title {
  margin-top: 15px;
  margin-bottom: 30px;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}
.login_form .login_label {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 12px;
}
.login_form .login_textbox {
  font-size: 16px;
  line-height: 40px;
  margin-bottom: 20px;
}
.login_form .login_textbox .form_textbox {
  padding-left: 12px;
  width: 100%;
}
.login_form .login_error {
  font-size: 16px;
}
.login_form .btn_group {
  text-align: right;
}
.login_form .btn_group .btn_login {
  font-size: 20px;
  height: 40px;
  width: 120px;
  color: #FFF;
  box-shadow: none;
  border-radius: 3px;
  border-width: 0;
}

.normal_form {
  width: 100%;
  margin: auto;
}
.normal_form .form_title {
  margin-top: 15px;
  margin-bottom: 30px;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}
.normal_form .form_label {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 12px;
}
.normal_form .form_textbox_region {
  font-size: 16px;
  line-height: 40px;
  margin-bottom: 20px;
}
.normal_form .form_textbox_region .form_textbox {
  padding-left: 12px;
  width: 100%;
}
.normal_form .form_textbox_region .form_select {
  height: calc(40px + 4px);
  padding-left: 12px;
  width: 100%;
}
.normal_form .form_textbox_region .form_textarea {
  line-height: 24px;
  padding-left: 12px;
  width: 100%;
  height: calc(24px*8);
}
.normal_form .form_error {
  font-size: 16px;
}
.normal_form .btn_group {
  text-align: right;
}
.normal_form .btn_group .btn_form {
  font-size: 20px;
  height: 40px;
  width: 120px;
  color: #FFF;
  box-shadow: none;
  border-radius: 3px;
  border-width: 0;
}
.normal_form .btn_group_middle {
  text-align: center;
}
.normal_form .btn_group_middle .btn_form {
  font-size: 20px;
  height: 40px;
  width: 120px;
  color: #FFF;
  box-shadow: none;
  border-radius: 3px;
  border-width: 0;
}

.background_white {
  min-height: calc(100vh - 56px);
  background: #FFFFFF;
}

.background_white2 {
  min-height: calc(100vh - 56px);
  background: #FAFAFA;
}

.main_region {
  padding: 10px;
}

.col-10 {
  width: 10%;
  float: left;
}
.col-10 .circle_img {
  margin: auto;
  cursor: pointer;
  width: calc(9vw - 10px - 2px);
  height: calc(9vw - 10px - 2px);
  border-radius: 100%;
}

.div_clear {
  clear: both;
}

.body_title {
  font-size: 24px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 12px;
}

.body_content {
  font-size: 20px;
  background-color: #D2E624;
  margin-top: 12px;
  margin-bottom: 30px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 5px;
}

.body_form_title {
  font-size: 20px;
  font-weight: 600;
}

.body_img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.body_form_row {
  margin-top: 40px;
}

.body_show_region {
  min-height: calc(100vh - 32px - 20px - 16px - 24px - 56px);
  width: calc(100% - 16px);
  margin: 0;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 24px;
  border: solid 1px #E8E8E8;
  position: relative;
}
.body_show_region.menu {
  min-height: calc(100vh - 32px - 20px - 16px - 24px - 56px - 46px - 64px);
  margin-top: 0;
  padding: 0;
}
.body_show_region .bottom {
  position: absolute;
  bottom: 20px;
  width: calc(100% - 48px);
}
.body_show_region .bottom .center_button_region {
  text-align: center;
}

/****************圖片上傳相關****************/
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  color: white;
  background-color: #EF5350;
  display: inline-block;
  margin-top: 0.5rem;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
}

.inputfile + label:hover {
  background-color: #D2302E;
  cursor: pointer;
}

.upload_img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

/****************改變Bootstrap樣式****************/
.container {
  width: 100vw;
  padding: 0;
  background: #FAFAFA;
}

.form.col-sm-1 {
  padding: 0;
}

.form.col-sm-11 {
  max-width: calc(100vw - 130px);
}

.nav-pills > li > a {
  border-radius: 0;
  color: #A7A7A7;
  font-size: 16px;
}
.nav-pills > li > a:hover {
  background: #E9E9E9;
}
.nav-pills > li.active {
  border-right: solid 4px #0097A7;
}
.nav-pills > li.active > a {
  color: #0097A7;
  background: transparent;
}
.nav-pills > li.active > a:hover {
  color: #0097A7;
  background: #E9E9E9;
}
